<!DOCTYPE html>
<html>
<head>
  <meta charset="GB2312">
  <meta name="viewport" content="width=device-width,initial-scale=1, maximum-scale=1, user-scalable=0">
    <link rel="stylesheet" type="text/css" href="/static/css/ai.css">
  <script>
      document.documentElement.style.fontSize = document.documentElement.clientWidth / 7.5 + 'px';
  </script>
  <title>智能查询</title>

	<script type="text/javascript" src="/static/js/jquery-3.2.1.min.js"></script>
	<script type="text/javascript" src="/static/js/jquery.cookie.js"></script>
	<script type="text/javascript" src="/static/js/ai.js"></script>
</head>
<body>
  <div id="container">
    <ul class="content">
   		<!-- 欢迎加入qq群：454796847、135430763 -->
  	</ul>
    <div class="footer">
{#        {% csrf_token %}#}
      <input id="text" type="text" placeholder="请输入关键词...">
      <p hidden><input id="ai_para" type="text"></p>
      <span id="btn">发送</span>
    </div>
  </div>
</body>
</html>
